img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.main{
  display: grid;
  grid-template-columns: 3fr 10fr;
}
.left{

}
.right{


}
.selectPage{
  font-weight: bold;
}
span{
  font-size: 2rem;

}