
.header {
  grid-area: h;
  height: 120px;
  max-width: 1800px;
  background-color: rgb(40, 72, 73);
  display: grid;
  float: left;
  grid-template-columns: 1fr 1fr 1fr;
}
.header div{
  height: 120px;
  width: 120px;

}
 .header img {
  width: 100%;
  height: 100%;
  }
.loginBlock{
    float: right;
	color: white;
}